<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Why Trio?</h2>
                    <p>3 is a good number.<br/>Trioloop mission is the create the best applications that users love. She is founded by
                        3 software developers who has worked in and with business large and small. We understanding
                        the needs from large corporate business, to small enterpreneurial companies .</p>
                    <h2>Why Loop?</h2>
                    <p>A loop in mathematics, simply means a path which starting point is the end point. It ties to our
                        3 core value, We believe so we treasure; We treasure so we give; We give so we believe A loop
                        in programming is an iteration of a set operations. Our agile way of development help our
                        clients to see the end product in sooner and help our clients continuously improve their
                        business.</p>
                </div>
            </div>
        </div>
    </div>
</section>
