<!-- Contact Section -->
<a id="contact-thank" />
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact</h2>

            <div id="contact-thankyou-message" class="alert alert-success" role="alert" style="display: none">
                <strong>Thank you!</strong> Your message is submitted. We will get back to you shortly.
            </div>
            <script>
                (function () {
                    if (window.location.hash && window.location.hash.substring(1) == "contact-thankyou") {
                        var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
                        $('#contact-thankyou-message').show();
                        $('#contact-thankyou-message').fadeIn();
                    } else {
                        $('#contact-thankyou-message').hide();
                    }
                })();
            </script>


            <form action="//formspree.io/{{ site.email }}" method="POST">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="name-addon">&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" placeholder="Your Name" aria-describedby="name-addon"
                           name="name"/>
                </div>
                <br/>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="email-addon">@</span>
                    <input type="email" class="form-control" placeholder="Your Email" aria-describedby="email-addon"
                           name="_replyto"/>
                </div>
                <br/>

                <div class="input-group-lg">
                    <textarea name="message" class="form-control" placeholder="Your Message"
                              style="height: 8em;"></textarea>
                </div>
                <br/>

                <div class="input-group-lg">
                    <input type="submit" class="btn btn-primary btn-lg" value="Send"/>
                </div>
                <input type="hidden" name="_next" value="//trioloop.com/#contact-thankyou"/>
            </form>

            <ul class="list-inline banner-social-buttons">
                {% for network in site.social %}
                <li>
                    <a href="{{ network.url }}" class="btn btn-default btn-lg"><i
                            class="fa fa-{{ network.title }} fa-fw"></i> <span
                            class="network-name">{{ network.title }}</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
