<!-- Mission Section -->
<section id="mission" class="content-section text-center">
    <div class="mission-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Mission and Vision</h2>

                    <h3>We Believe.</h3>

                    <p>
                        We believe technology can change the quality of life no matter it is work life or personal life.<br/>
                        We believe in people are the key thing to our business<br/>
                        Not only because technology is our core business but we think innovation and technology is the
                        answer to a lot of issues in both business world but also education<br/>
                    </p>

                    <h3>We Treasure.</h3>

                    <p>We treasure technology. By treasure we means we put technology beyond just making money. We aim
                        to champion software excellence and revolutionize the technology industry.<br/>
                        We treasure our people. We think people are the most important asset of our company.
                    </p>

                    <h3>We Give.</h3>

                    <p>
                        We give back to the community. We believe that giving back to the community is the only way to
                        have a sustainable future. We focus on helping the technology to improve, and believe in sharing
                        what we have learnt. We do this by seminar, running events and volunteer work in the technology
                        and innovation space.</h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
