    <!-- Download Section -->
    <section id="ourwork" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Trioloop team members worked with</h2>
                    <ul>
                      <li>Bell Canada</li>
                      <li>PG&amp;E</li>
                      <li>Canada Post</li>
                      <li>TD Canada Trust</li>
                      <li>Hong Kong Electric</li>
                      <li>Baptist University</li>
                      <li>British Telecom</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
