<!-- What We do Section -->
<section id="whatwedo" class="content-section text-center">
    <div class="whatwedo-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>What we do</h2>

                    <p>You and your company has no shortage of new ideas and market just move too fast. Instead of doing
                        everything yourself, Trioloop is here to help you with the heavy lifting, so you can concentrate
                        on your core business. Trioloop is a full stack technology company. We'll help you build
                        capability to get powerful ideas to your customers fast and sustain your position as a dynamic
                        market leader.</p>

                    <h3>Custom System Development</h3>

                    <p>Our Project Managers, UX designers and software engineers are experts that work with you every
                        step of the way as a dedicated product team to solve your most complex problems.</p>

                    <h3>Webpage and App development</h3>

                    <p>
                        We are experts at web, mobile and cloud development. Our engineers build comprehensive custom
                        software or digital marketing solutions for enterprise clients with advanced security,
                        scalability and complexity needs.
                    </p>

                    <h3>Consulting</h3>

                    <p>
                        To assist you in reaping the most value from your technology investments, we bring together the
                        skills to deliver performance improvements in people, processes, and technology. Furthermore, we
                        bring in-depth knowledge in Enterprise Architecture, IT Transformation, Data Management, IT
                        sourcing, Project Management and Training.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
